/* styles.css */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Onest", serif;
    text-decoration: none;
  }
  a {
    color: #000;
    cursor: url("curser2.png"), auto;
  }
  .transition {
    position: fixed;
    top: -100vh; /* 처음에는 화면 위에 숨김 */
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: white; /* 흰색 배경 */
    z-index: 9999;
    transition: top 1s ease-in-out; /* 부드러운 이동 */
  }
  .page-load {
    position: fixed;
    bottom: 0; /* 시작 시 화면을 덮고 있음 */
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: white; /* 흰색 배경 */
    z-index: 9999;
    transition: bottom 1s ease-in-out;
  }
  body {
    background-color: #000;
    height: 100vh;
    overflow-x: hidden;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    cursor: url("curser1.png"), auto;
  }
  body.loaded {
    opacity: 1;
  }
  .navi-bar {
    height: 26vh;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    padding: 0 100px;
    transition: height 0.4s ease-in-out, padding 0.4s ease-in-out;
  }
  .navi-bar.shrink {
    height: 10vh;
    padding: 0 50px;
  }

  .navi-bar.shrink .menu {
    margin-top: 0;
    font-size: 15pt;
  }

  .navi-bar.shrink .logo {
    width: 20%;
  }

  .logo {
    width: 50%;
    transition: height 0.4s ease-in-out, padding 0.4s ease-in-out;
  }
  .logo img {
    width: 100%;
  }
  .logo:hover {
    cursor: url("curser2.png"), auto;
  }

  .menu {
    font-size: 18pt;
    margin-top: -80px;
  }

  .menu ul {
    list-style: none;
    font-weight: 200;
    font-style: normal;
  }

  /* 메뉴 항목 스타일 */
  .menu ul li {
    display: inline-block;
    margin-right: 70px;
  }
  .menu ul li:last-child {
    margin-right: 0;
  }
  
  .menu ul li a {
    display: block;
    position: relative;
    line-height: 100%; 
  }

  .menu ul li a::after {
    content: "";
    display: block;
    position: absolute;
    margin-top: 2px;
    width: 0;
    height: 2px;
    background-color: #000;
    transition: 0.5s;
  }

  .menu ul li:hover a::after {
    width: 100%;
  }

  /* 컨테이너 아래 여백 추가 (고정된 navi-bar가 컨텐츠를 가리지 않도록) */
  .container {
    width: 100vw;  /* 가로 전체 */
    height: 100vh;
    background-color: #000; /* 원하는 배경색으로 변경 */
    margin-top: 26vh; /* 네비게이션 바가 고정이므로 아래로 밀기 */
  }

  .container .container-inner {
    display: block;
    height: auto;
    padding: 80px 100px;
  }

  .work-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
  }
  
  .work-container .work {
    display: flex;
    flex-direction: column;
    width: calc(33.3% - 14px);
    text-align: center;
    margin-right: 0;
  }

  .work-container .work:hover {
    cursor: url("curser2.png"), auto;
  }

  .work-front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .work-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
  }
  .work-front,
  .work-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    text-align: center;
  }
  .work-back {
    color: white;
    transform: rotateX(180deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Onest", serif;
    font-weight: 200;
    font-style: normal;
    padding: 20px;
  }

  .work-back .project-title {
    margin-bottom: 5px;
    font-weight: 600;
    font-size:20pt;
  }

  .work-back .project-description {
    margin-bottom: 30px;
  }

  .work-back .project-category {
    font-size: 9pt;
  }
  
  /* 카드가 뒤집힐 때 */
  .work.flipped .work-inner {
    transform: rotateX(180deg);
  }

  .project-container {
    display: block;
  }

  .project-container .project img{
    width: 100%;
    height: auto;
  }

  .cv-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .cv-container .cv-page {
    width: 50%;
    margin-right: 20px;
  }

  .cv-container .cv-page:last-child {
    margin-right: 0;
  }
  
  .cv-container .cv-page .cv-img {
    width: 100%;
    height: auto;
  }

  .contact-container .contact {
    color: #fff;
    font-size: 20pt;
    font-weight: 200;
    text-align: center;
  }

  @media (max-width: 1024px) {
    .menu {
      margin-top: 5px;
    }
    .logo {
      width: 80%;
    }
    .navi-bar {
      flex-direction: column;
      justify-content: center;
      padding: 0 40px;
    }
    .navi-bar.shrink .logo {
      width: 30%;
    }
    .work-container .work {
      width: calc(50% - 10px);
    }
    .cv-container {
      flex-direction: column;
      justify-content: flex-start;
    }

    .cv-container .cv-page {
      width: 100%;
      margin-bottom: 50px;
    }
  
    .cv-container .cv-page:last-child {
      margin-bottom: 50px;
    }

  }
  
  @media (max-width: 600px) {
    .logo {
      width: 90%;
      margin-bottom: 20px;
    }
    .navi-bar.shrink .logo {
      width: 60%;
      margin-bottom: 5px;
    }
    .navi-bar.shrink .menu {
      margin-top: 0;
      font-size: 13pt;
    }
    .menu ul li {
      margin-right: 50px;
    }
    .container .container-inner {
      padding: 20px 0;
    }
    .work-container {
      flex-direction: column;
      align-items: center;
    }
    .work-container .work {
      width: 100%;
    }
    .navi-bar {
      padding: 0 20px;
    }
  }